#################################################
#     Personal files
#################################################
venv

#################################################
#     Binary files
#################################################
**/__pycache__