#################################################
#     Personal files
#################################################
.vscode

#################################################
#     Binary files
#################################################
build