#################################################
#     Personal files
#################################################
.vscode
qt*

#################################################
#     Binary files
#################################################
**/build